
<div id="searchResults">
  <h3 id="heading">Search results</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th></th>
        <th>Title</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Stock</th>
      </thead>
      <tbody>
        <% for(var i =0;i<info.length;i++) {%>
          <tr class="searchItem <%= info[i].brand %>">
            <td class="id hide"><%= info[i]._id %></td>
            <td><img src=<%=info[i].image %> onerror="this.onerror=null;this.src='/images/phone_default_images/default.png';" alt="" class="thumbnail"></td>
            <td class="title"><%= info[i].title %></td>
            <td class="brand"><%= info[i].brand %></td>
            <td class="price"><%= info[i].price %></td>
            <td class="stock"><%= info[i].stock %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="js/jquerysession.js"></script>
